= form_for @new_task do |f|
  = f.datetime_select :due_date, :as =>:custom_datepicker
  = f.text_field :name
  %input{:type => "submit"}
%ul
- @task.each do |task|
  %li
    .task-due-date
      = task.due_date.strftime('%Y-%m-%d %A')
  %li
    .task-name
      = task.name
  %br